.footer {
  background-color: var(--azul-escuro);
  font-size: 24px;
  font-variant: small-caps;
  color: var(--branco);
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .5rem;
  text-align: center;
}
