.templateContainer {
  color: var(--cor-fonte-post);
  position: relative;
}

.coverPhoto, .templateTitle {
  height: 204px;
}

.coverPhoto {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.25;
  position: absolute;
  top: 0;
  background-position: 0px -150px;
  z-index: -1;
}

.templateTitle {
  font-family: var(--fonte-secundaria);
  padding: 0 7.5rem;
  font-size: 4rem;
  display: flex;
  align-items: center;
}

.contentContainer {
  padding: 2.5rem 7.5rem 1rem;
}

@media (max-width: 744px) {
  .contentContainer {
      padding: 2rem 1.5rem 1.5rem;
  }
}

@media (max-width: 744px) {

  .coverPhoto,
  .templateTitle {
      height: 104px;
  }

  .templateTitle {
      padding: 0 1rem;
      font-size: 2rem;
  }

  .contentContainer {
      padding: 2rem 1rem 1.5rem;
  }
}
