.notFoundContainer {
  position: relative;
  text-align: center;
  background-color: var(--azul-escuro);
  color: var(--branco);
  padding: 56px 100px 100px;
}

.error404 {
  display: block;
  color: var(--azul-medio);
  font-family: var(--fonte-secundaria);
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 12px;
}

.errorTitle {
  font-family: var(--fonte-secundaria);
  font-size: 3rem;
  margin-bottom: 12px;
}

.errorPara {
  font-size: 1.5rem;
  line-height: 1.25;
}

.return {
  text-align: start;
  margin-top: 40px;
  margin-left: 30vw;
}

.errorImg {
  position: absolute;
  height: 25vw;
  bottom: calc(-25vw * 0.6);
}

.whiteSpace {
  height: 40vh;
}

@media (max-width: 1100px) {    
  .error404 {
      margin-bottom: 2.25rem;
  }

  .return {
      margin-top: 2.75rem;
      margin-left: 15vw;
  }

  .errorImg {
      height: 50vw;
      bottom: calc(-50vw * 0.65);
      left: 40vw;
  }

  .whiteSpace {
      height: 53vw;
  }
}

@media (max-width: 744px) {
  .notFoundContainer {
      padding: 3rem 1rem 17rem;
  }

  .error404 {
      font-size: 4rem;
  }

  .errorTitle {
      font-size: 2.25rem;
      line-height: 3rem;
  }

  .errorPara {
      font-size: 1.125rem;
      line-height: 1.3125rem;
  }

  .return {
      margin: 2.5rem 0 0;
      text-align: center;
  }

  .errorImg {
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      height: 94vw;
      bottom: calc(-94vw * 0.3);
      max-height: 375px;
  }

  .whiteSpace {
      height: calc(94vw * 0.5);
  }
}